_site
/src/01_introduction/02/blah
/src/01_introduction/03/blah*
/src/01_introduction/04/file1
/src/01_introduction/04/file2
/src/01_introduction/04/some_file
/src/02_targets/01/one
/src/02_targets/01/two
/src/02_targets/01/three
/src/03_wildcards_etc/01/main.c
/src/03_wildcards_etc/01/main.cc
/src/03_wildcards_etc/01/main.cpp
/src/03_wildcards_etc/01/main.cxx
/src/03_wildcards_etc/03/hey
/src/03_wildcards_etc/03/one
/src/03_wildcards_etc/03/two
/src/04_fancy_rules/01/blah
/src/04_fancy_rules/01/blah.c
/src/04_fancy_rules/01/blah.o
/src/04_fancy_rules/02/all
/src/04_fancy_rules/02/all.c
/src/04_fancy_rules/02/all.o
/src/04_fancy_rules/02/bar.c
/src/04_fancy_rules/02/bar.o
/src/04_fancy_rules/02/foo.c
/src/04_fancy_rules/02/foo.o
/src/04_fancy_rules/03/all
/src/04_fancy_rules/03/all.c
/src/04_fancy_rules/03/all.o
/src/04_fancy_rules/03/bar.c
/src/04_fancy_rules/03/bar.o
/src/04_fancy_rules/03/foo.c
/src/04_fancy_rules/03/foo.o
/src/04_fancy_rules/04/bar.c
/src/04_fancy_rules/04/foo.raw
/src/04_fancy_rules/04/lose.c
/src/04_fancy_rules/05/bar.o
/src/04_fancy_rules/05/foo.result
/src/04_fancy_rules/05/lose.o
/src/04_fancy_rules/05/blah